body{
  background: rgb(40, 42,58);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box{
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  left: -150px;
  z-index: -2;
}

.box-size5{
  background: url('../img/Space-size5.png');
  animation: rotate 300s linear infinite;
  overflow: hidden;
}

.box-size3{
  background: url('../img/Space-size3.png');
  animation: rotate 400s linear infinite;
  overflow: hidden;
}

.box-size2{
  background: url('../img/Space-size2.png');
  animation: rotate 500s linear infinite;
  overflow: hidden;
}

.box-twinkle{
  background: url('../img/Space-twinkle.png');
  animation: twinkle 5s linear infinite;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .box{
    width: 1600px;
    height: 1600px;
    top: -400px;
    left: -200px;
  }
}

@media screen and (max-width: 600px) {
  .box{
    width: 950px;
    height: 950px;
    top: -130px;
    left: -150px;
  }
}

@keyframes rotate {
  100%{transform: rotate(360deg);}
}

@keyframes twinkle {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}


.star {
  width:2px;
  height:2px;
  border-radius:50%;
  background:#FFF;
  top:100px;
  left:100px;
  position:relative;
  transform-origin:100% 0;
  animation:star-ani 5s infinite ease-out;
  animation-direction: normal;
  opacity:0;
  z-index: -1;
}

.star:after {
  content:'';
  position:absolute;
  border: 1px solid black;
  border-width:2px 250px;
  border-color:transparent transparent transparent #FFF;
  transform:rotate(-45deg) translate3d(1px, -1px, 0);
  transform-origin:0% 100%;
  animation:shooting-ani 5s infinite ease-out;
  animation-direction: normal;
  z-index: -1;
}

.yellow{
  top: -100px;
  left: 300px;
  background: rgb(255,241, 120 );
  animation-delay: 2s;
}

.yellow:after{
  border-color:transparent transparent transparent rgb(255,241, 120);
}

.tomato{
  top: -350px;
  left: 100px;
  background: tomato;
  animation-delay: 6s;
}

.tomato:after{
  border-color:transparent transparent transparent tomato;
}

.steelblue{
  top: -200px;
  left: 100px;
  background: steeblue;
  animation-delay: 4s;
}

.steelblue:after{
  border-color:transparent transparent transparent steelblue;
}


@-webkit-keyframes shooting-ani {
  10% {
    transform:scale(1) rotate(-45deg) translate(0px, 0px);
  }
  20% {
    transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

@-webkit-keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate(0, 0);
  }
  10% {
    opacity:1;
    transform:scale(1) rotate(0) translate(-200px, 200px);
  }
  20% {
    opacity:0;
    transform:scale(1) rotate(0) translate(-300px, 300px);
  }
}
